In [1]:
from ydata_profiling import ProfileReport
import pandas as pd
import numpy as np
import pandas_datareader as pdr  # to install: !pip install pandas_datareader
from datetime import datetime
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols as sm_ols
from statsmodels.iolib.summary2 import summary_col # nicer tables

In [2]:
import pandas as pd

# Read in the dataset
df = pd.read_csv('./input_data_clean/CEO_DF.csv')

# Calculate the median age
median_age = df['AGE'].median()

# Create a new column for prestige_power based on whether age is greater than median
df['prestige_power'] = (df['AGE'] > median_age).astype(int)

prestige_power_levels = {
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4
}
df['prestige_power'] = pd.cut(df['prestige_power'], bins=5, labels=prestige_power_levels.values())

# Print the updated dataset

In [3]:
df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,GVKEY,TICKER,CEOANN,SALARY,BONUS,STOCK_AWARDS,OPTION_AWARDS,...,JOINED_CO,LEFTOFC,GENDER,CUSIP,NAICSDESC,SIC,MKVALT,SIZE_CATEGORY,signature_index,prestige_power
0,0,0,0,1045,AAL,CEO,669.646,0.0,3280.680,1185.94,...,NaN,2011-11-28,MALE,02376R10,Scheduled Passenger Air Transportation,4512,2597.5755,Medium,c5cfee96827874d696f92bc8dc8e7d1c,0
1,1,1,1,1045,AAL,CEO,613.842,0.0,4020.380,798.60,...,NaN,2011-11-28,MALE,02376R10,Scheduled Passenger Air Transportation,4512,117.3438,Tiny,03d75aed72524dfeb17fbbce2574b46a,0
2,2,2,2,1045,AAL,CEO,618.135,0.0,0.000,0.00,...,NaN,2013-12-09,MALE,02376R10,Scheduled Passenger Air Transportation,4512,266.5571,Tiny,15564e09568d0b6f2f1897f5c3071885,0
3,3,3,3,1045,AAL,CEO,591.911,0.0,4199.761,0.00,...,NaN,2013-12-09,MALE,02376R10,Scheduled Passenger Air Transportation,4512,6591.9923,Medium,d4a0b6385b961d3e6cd8358db5f13dd8,0
4,4,4,4,1045,AAL,CEO,687.884,0.0,7000.000,0.00,...,NaN,2022-03-31,MALE,02376R10,Scheduled Passenger Air Transportation,4512,37405.5843,Big,d3d6750755aedf18253dfe15a361256d,0

In [4]:
df.to_csv('./input_data_clean/CEO_DF.csv')