In [1]:
from ydata_profiling import ProfileReport
import pandas as pd
import numpy as np
import pandas_datareader as pdr  # to install: !pip install pandas_datareader
from datetime import datetime
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols as sm_ols
from statsmodels.iolib.summary2 import summary_col # nicer tables

In [2]:
import pandas as pd

# Read in the dataset
df = pd.read_csv('./input_data_clean/CEO_DF.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5649 entries, 0 to 5648
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5649 non-null   int64
 1   GVKEY            5649 non-null   int64
 2   TICKER           5649 non-null   object
 3   CEOANN           5649 non-null   object
 4   SALARY           5649 non-null   float64
 5   BONUS            5649 non-null   float64
 6   STOCK_AWARDS     5649 non-null   float64
 7   OPTION_AWARDS    5649 non-null   float64
 8   OTHCOMP          5649 non-null   float64
 9   TOTAL_CURR       5649 non-null   float64
 10  AGE              5649 non-null   float64
 11  TDC1             5649 non-null   float64
 12  YEAR             5649 non-null   int64
 13  BECAMECEO        5613 non-null   object
 14  JOINED_CO        1493 non-null   object
 15  LEFTOFC          3530 non-null   object
 16  GENDER           5649 non-null   object
 17  CUSIP            5649 non-null   object
 18  NAICSDESC        5649 non-null   object
 19  SIC              5649 non-null   int64
 20  MKVALT           5028 non-null   float64
 21  SIZE_CATEGORY    5028 non-null   object
 22  signature_index  5649 non-null   object
dtypes: float64(9), int64(4), object(10)
memory usage: 1015.2+ KB

In [3]:
# Calculate the median age
median_age = df['AGE'].median()

# Create a new column for prestige_power based on whether age is greater than median
df['prestige_power'] = (df['AGE'] > median_age).astype(int)

prestige_power_levels = {
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4
}
df['prestige_power'] = pd.cut(df['prestige_power'], bins=5, labels=prestige_power_levels.values())

# Print the updated dataset

In [4]:
df.head()

,Unnamed: 0,GVKEY,TICKER,CEOANN,SALARY,BONUS,STOCK_AWARDS,OPTION_AWARDS,OTHCOMP,TOTAL_CURR,...,JOINED_CO,LEFTOFC,GENDER,CUSIP,NAICSDESC,SIC,MKVALT,SIZE_CATEGORY,signature_index,prestige_power
0,0,1045,AAL,CEO,669.646,0.0,3280.680,1185.94,94.660,669.646,...,NaN,2011-11-28,MALE,02376R10,Scheduled Passenger Air Transportation,4512,2597.5755,Medium,c5cfee96827874d696f92bc8dc8e7d1c,0
1,1,1045,AAL,CEO,613.842,0.0,4020.380,798.60,93.996,613.842,...,NaN,2011-11-28,MALE,02376R10,Scheduled Passenger Air Transportation,4512,117.3438,Tiny,03d75aed72524dfeb17fbbce2574b46a,0
2,2,1045,AAL,CEO,618.135,0.0,0.000,0.00,37.458,618.135,...,NaN,2013-12-09,MALE,02376R10,Scheduled Passenger Air Transportation,4512,266.5571,Tiny,15564e09568d0b6f2f1897f5c3071885,0
3,3,1045,AAL,CEO,591.911,0.0,4199.761,0.00,13117.484,591.911,...,NaN,2013-12-09,MALE,02376R10,Scheduled Passenger Air Transportation,4512,6591.9923,Medium,d4a0b6385b961d3e6cd8358db5f13dd8,0
4,4,1045,AAL,CEO,687.884,0.0,7000.000,0.00,414.092,687.884,...,NaN,2022-03-31,MALE,02376R10,Scheduled Passenger Air Transportation,4512,37405.5843,Big,d3d6750755aedf18253dfe15a361256d,0

In [5]:
df.to_csv('./input_data_clean/CEO_DF.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5649 entries, 0 to 5648
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5649 non-null   int64
 1   GVKEY            5649 non-null   int64
 2   TICKER           5649 non-null   object
 3   CEOANN           5649 non-null   object
 4   SALARY           5649 non-null   float64
 5   BONUS            5649 non-null   float64
 6   STOCK_AWARDS     5649 non-null   float64
 7   OPTION_AWARDS    5649 non-null   float64
 8   OTHCOMP          5649 non-null   float64
 9   TOTAL_CURR       5649 non-null   float64
 10  AGE              5649 non-null   float64
 11  TDC1             5649 non-null   float64
 12  YEAR             5649 non-null   int64
 13  BECAMECEO        5613 non-null   object
 14  JOINED_CO        1493 non-null   object
 15  LEFTOFC          3530 non-null   object
 16  GENDER           5649 non-null   object
 17  CUSIP            5649 non-null   object
 18  NAICSDESC        5649 non-null   object
 19  SIC              5649 non-null   int64
 20  MKVALT           5028 non-null   float64
 21  SIZE_CATEGORY    5028 non-null   object
 22  signature_index  5649 non-null   object
 23  prestige_power   5649 non-null   category
dtypes: category(1), float64(9), int64(4), object(10)
memory usage: 1020.9+ KB

In [79]:
import pandas as pd

# Read in the dataset
df = pd.read_csv('./input_data_clean/director_comp_deter.csv')
bod_df = pd.read_csv('./input_data_clean/BOD_DF.csv')

In [80]:
bod_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7035 entries, 0 to 7034
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           7035 non-null   int64
 1   gvkey                7035 non-null   int64
 2   ticker               7035 non-null   object
 3   total_sec            7035 non-null   float64
 4   othcomp              7035 non-null   float64
 5   noneq_incent         7035 non-null   float64
 6   cash_fees            7035 non-null   float64
 7   stock_awards         7035 non-null   float64
 8   option_awards        7035 non-null   float64
 9   spcode               7035 non-null   object
 10  cusip                7035 non-null   object
 11  coname               7035 non-null   object
 12  year                 7035 non-null   int64
 13  total_director_comp  7035 non-null   float64
 14  total_othcomp        7035 non-null   float64
 15  total_noneq_incent   7035 non-null   float64
 16  total_cash_fees      7035 non-null   float64
 17  total_stock_awards   7035 non-null   float64
 18  total_option_awards  7035 non-null   float64
 19  mkvalt               5975 non-null   float64
 20  size_category        5975 non-null   object
 21  signature_index      7035 non-null   object
 22  tic                  5965 non-null   object
 23  fyear                5965 non-null   float64
 24  liquidity            3477 non-null   float64
 25  net_income           3149 non-null   float64
 26  num_employees        5907 non-null   float64
 27  market_value         4949 non-null   float64
 28  debt_to_equity       5949 non-null   float64
 29  assets_in_place      5233 non-null   float64
 30  capex_by_assets      3147 non-null   float64
 31  return_on_equity     3149 non-null   float64
dtypes: float64(22), int64(3), object(7)
memory usage: 1.7+ MB

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5762 entries, 0 to 5761
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        5762 non-null   int64
 1   tic               5762 non-null   object
 2   fyear             5762 non-null   float64
 3   liquidity         4142 non-null   float64
 4   net_income        3977 non-null   float64
 5   num_employees     5687 non-null   float64
 6   market_value      5078 non-null   float64
 7   debt_to_equity    5728 non-null   float64
 8   assets_in_place   5274 non-null   float64
 9   capex_by_assets   3974 non-null   float64
 10  return_on_equity  3977 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 495.3+ KB

In [82]:
bod_df = bod_df.merge(df, left_on = ['ticker', 'year'], right_on = ['tic', 'fyear'], how = 'inner')

In [83]:
# bod_df = bod_df.drop(columns=['Unnamed: 0_y', 'tic_y', 'fyear_y', 'liquidity_y', 'net_income_y', 'num_employees_y', 'market_value_y', 'debt_to_equity_y', 'assets_in_place_y', 'capex_by_assets_y', 'return_on_equity_y'])
bod_df = bod_df.rename(columns=lambda x: x.replace('_x', '') if not x.startswith('Unnamed') and x.endswith('_x') else x)
bod_df = bod_df.drop(columns=[col for col in bod_df.columns if col.endswith('_y')])

In [85]:
bod_df.drop(['Unnamed: 0_x', 'tic', 'fyear'], axis=1, inplace=True)

bod_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8773 entries, 0 to 8772
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gvkey                8773 non-null   int64
 1   ticker               8773 non-null   object
 2   total_sec            8773 non-null   float64
 3   othcomp              8773 non-null   float64
 4   noneq_incent         8773 non-null   float64
 5   cash_fees            8773 non-null   float64
 6   stock_awards         8773 non-null   float64
 7   option_awards        8773 non-null   float64
 8   spcode               8773 non-null   object
 9   cusip                8773 non-null   object
 10  coname               8773 non-null   object
 11  year                 8773 non-null   int64
 12  total_director_comp  8773 non-null   float64
 13  total_othcomp        8773 non-null   float64
 14  total_noneq_incent   8773 non-null   float64
 15  total_cash_fees      8773 non-null   float64
 16  total_stock_awards   8773 non-null   float64
 17  total_option_awards  8773 non-null   float64
 18  mkvalt               6922 non-null   float64
 19  size_category        6922 non-null   object
 20  signature_index      8773 non-null   object
 21  liquidity            3885 non-null   float64
 22  net_income           3149 non-null   float64
 23  num_employees        8699 non-null   float64
 24  market_value         6829 non-null   float64
 25  debt_to_equity       8757 non-null   float64
 26  assets_in_place      7321 non-null   float64
 27  capex_by_assets      3147 non-null   float64
 28  return_on_equity     3149 non-null   float64
dtypes: float64(21), int64(2), object(6)
memory usage: 2.0+ MB

In [21]:
bod_df.rename(columns={col: col.lower() for col in bod_df.columns}, inplace=True)

In [67]:
bod_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5649 entries, 0 to 5648
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     5649 non-null   int64
 1   Unnamed: 0       5649 non-null   int64
 2   GVKEY            5649 non-null   int64
 3   TICKER           5649 non-null   object
 4   CEOANN           5649 non-null   object
 5   SALARY           5649 non-null   float64
 6   BONUS            5649 non-null   float64
 7   STOCK_AWARDS     5649 non-null   float64
 8   OPTION_AWARDS    5649 non-null   float64
 9   OTHCOMP          5649 non-null   float64
 10  TOTAL_CURR       5649 non-null   float64
 11  AGE              5649 non-null   float64
 12  TDC1             5649 non-null   float64
 13  YEAR             5649 non-null   int64
 14  BECAMECEO        5613 non-null   object
 15  JOINED_CO        1493 non-null   object
 16  LEFTOFC          3530 non-null   object
 17  GENDER           5649 non-null   object
 18  CUSIP            5649 non-null   object
 19  NAICSDESC        5649 non-null   object
 20  SIC              5649 non-null   int64
 21  MKVALT           5028 non-null   float64
 22  SIZE_CATEGORY    5028 non-null   object
 23  signature_index  5649 non-null   object
 24  prestige_power   5649 non-null   int64
dtypes: float64(9), int64(6), object(10)
memory usage: 1.1+ MB

In [86]:
bod_df.to_csv('./input_data_clean/BOD_DF.csv')

In [ ]:
#######################now ceos

In [175]:
import pandas as pd

# Read in the dataset
df = pd.read_csv('./input_data_clean/CEO_BOD_Clean.csv')
ceo_df = pd.read_csv('./input_data_clean/CEO_DF.csv')

In [177]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7317 entries, 0 to 7316
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7317 non-null   int64
 1   GVKEY_x          7317 non-null   int64
 2   TICKER           7317 non-null   object
 3   AGE              7317 non-null   float64
 4   TDC1             7317 non-null   float64
 5   YEAR             7317 non-null   int64
 6   BECAMECEO        7275 non-null   object
 7   STOCK_AWARDS_x   7317 non-null   float64
 8   STOCK_AWARDS_y   7317 non-null   float64
 9   ownershipRatio   7317 non-null   float64
 10  ownershipPower   7317 non-null   int64
 11  yearServed       7275 non-null   float64
 12  prestiegePower   7317 non-null   int64
 13  SIZE_CATEGORY_x  6168 non-null   object
 14  MKVALT_x         6168 non-null   float64
dtypes: float64(7), int64(5), object(3)
memory usage: 857.6+ KB

In [180]:
df = df.rename(columns=lambda x: x.replace('_x', '') if not x.startswith('Unnamed') and x.endswith('_x') else x)
df = df.drop(columns=[col for col in df.columns if col.endswith('_y')])
df.rename(columns={col: col.lower() for col in df.columns}, inplace=True)

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7317 entries, 0 to 7316
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   unnamed: 0      7317 non-null   int64
 1   gvkey           7317 non-null   int64
 2   ticker          7317 non-null   object
 3   age             7317 non-null   float64
 4   tdc1            7317 non-null   float64
 5   year            7317 non-null   int64
 6   becameceo       7275 non-null   object
 7   stock_awards    7317 non-null   float64
 8   ownershipratio  7317 non-null   float64
 9   ownershippower  7317 non-null   int64
 10  yearserved      7275 non-null   float64
 11  prestiegepower  7317 non-null   int64
 12  size_category   6168 non-null   object
 13  mkvalt          6168 non-null   float64
dtypes: float64(6), int64(5), object(3)
memory usage: 800.4+ KB

In [176]:
ceo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31835 entries, 0 to 31834
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       31835 non-null  int64
 1   gvkey            31835 non-null  int64
 2   ticker           31835 non-null  object
 3   salary           31835 non-null  float64
 4   bonus            31835 non-null  float64
 5   stock_awards     31835 non-null  float64
 6   option_awards    31835 non-null  float64
 7   othcomp          31835 non-null  float64
 8   total_curr       31835 non-null  float64
 9   age              31835 non-null  float64
 10  tdc1             31835 non-null  float64
 11  year             31835 non-null  int64
 12  becameceo        31498 non-null  float64
 13  joined_co        6927 non-null   float64
 14  leftofc          18009 non-null  float64
 15  gender           31835 non-null  object
 16  cusip            31835 non-null  int64
 17  naicsdesc        31835 non-null  int64
 18  sic              31835 non-null  int64
 19  mkvalt           22902 non-null  float64
 20  size_category    22902 non-null  object
 21  signature_index  31835 non-null  object
 22  ownershipratio   31019 non-null  float64
 23  ownershippower   31835 non-null  int64
 24  yearserved       31700 non-null  float64
 25  prestiegepower   31835 non-null  int64
 26  stock_awards.1   31835 non-null  float64
dtypes: float64(15), int64(8), object(4)
memory usage: 6.6+ MB

In [182]:
ceo_df.drop(['ownershipratio'], axis=1, inplace=True)

In [170]:
ceo_df.rename(columns={col: col.lower() for col in ceo_df.columns}, inplace=True)

In [171]:
df.rename(columns={col: col.lower() for col in df.columns}, inplace=True)

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7317 entries, 0 to 7316
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   unnamed: 0       7317 non-null   int64
 1   gvkey_x          7317 non-null   int64
 2   ticker           7317 non-null   object
 3   age              7317 non-null   float64
 4   tdc1             7317 non-null   float64
 5   year             7317 non-null   int64
 6   becameceo        7275 non-null   object
 7   stock_awards_x   7317 non-null   float64
 8   stock_awards_y   7317 non-null   float64
 9   ownershipratio   7317 non-null   float64
 10  ownershippower   7317 non-null   int64
 11  yearserved       7275 non-null   float64
 12  prestiegepower   7317 non-null   int64
 13  size_category_x  6168 non-null   object
 14  mkvalt_x         6168 non-null   float64
dtypes: float64(7), int64(5), object(3)
memory usage: 857.6+ KB

In [42]:
ceo_df.rename(columns={col: col.lower() for col in ceo_df.columns}, inplace=True)
ceo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5649 entries, 0 to 5648
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gvkey            5649 non-null   int64
 1   ticker           5649 non-null   object
 2   ceoann           5649 non-null   object
 3   salary           5649 non-null   float64
 4   bonus            5649 non-null   float64
 5   stock_awards     5649 non-null   float64
 6   option_awards    5649 non-null   float64
 7   othcomp          5649 non-null   float64
 8   total_curr       5649 non-null   float64
 9   age              5649 non-null   float64
 10  tdc1             5649 non-null   float64
 11  year             5649 non-null   int64
 12  becameceo        5613 non-null   object
 13  joined_co        1493 non-null   object
 14  leftofc          3530 non-null   object
 15  gender           5649 non-null   object
 16  cusip            5649 non-null   object
 17  naicsdesc        5649 non-null   object
 18  sic              5649 non-null   int64
 19  mkvalt           5028 non-null   float64
 20  size_category    5028 non-null   object
 21  signature_index  5649 non-null   object
 22  prestige_power   5649 non-null   int64
dtypes: float64(9), int64(4), object(10)
memory usage: 1015.2+ KB

In [150]:
# assume df is your DataFrame
df.rename(columns={'size_category_x': 'size_category'}, inplace=True)
df.rename(columns={'mkvalt_x': 'mkvalt'}, inplace=True)
df.rename(columns={'gvkey_x': 'gvkey'}, inplace=True)

In [183]:
ceo_df = ceo_df.merge(df, on = ['ticker', 'year'], how= 'inner')

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7317 entries, 0 to 7316
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   unnamed: 0      7317 non-null   int64
 1   gvkey           7317 non-null   int64
 2   ticker          7317 non-null   object
 3   age             7317 non-null   float64
 4   tdc1            7317 non-null   float64
 5   year            7317 non-null   int64
 6   becameceo       7275 non-null   object
 7   stock_awards_x  7317 non-null   float64
 8   stock_awards_y  7317 non-null   float64
 9   ownershipratio  7317 non-null   float64
 10  ownershippower  7317 non-null   int64
 11  yearserved      7275 non-null   float64
 12  prestiegepower  7317 non-null   int64
 13  size_category   6168 non-null   object
 14  mkvalt          6168 non-null   float64
dtypes: float64(7), int64(5), object(3)
memory usage: 857.6+ KB

In [185]:
# assume df1 and df2 are your DataFrames
ceo_df = ceo_df.rename(columns=lambda x: x.replace('_x', '') if not x.startswith('Unnamed') and x.endswith('_x') else x)
ceo_df = ceo_df.drop(columns=[col for col in ceo_df.columns if col.endswith('_y')])

In [188]:
ceo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115859 entries, 0 to 115858
Data columns (total 25 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gvkey            115859 non-null  int64
 1   ticker           115859 non-null  object
 2   salary           115859 non-null  float64
 3   bonus            115859 non-null  float64
 4   stock_awards     115859 non-null  float64
 5   option_awards    115859 non-null  float64
 6   othcomp          115859 non-null  float64
 7   total_curr       115859 non-null  float64
 8   age              115859 non-null  float64
 9   tdc1             115859 non-null  float64
 10  year             115859 non-null  int64
 11  becameceo        114646 non-null  float64
 12  joined_co        24503 non-null   float64
 13  leftofc          64481 non-null   float64
 14  gender           115859 non-null  object
 15  cusip            115859 non-null  int64
 16  naicsdesc        115859 non-null  int64
 17  sic              115859 non-null  int64
 18  mkvalt           80238 non-null   float64
 19  size_category    80238 non-null   object
 20  signature_index  115859 non-null  object
 21  ownershippower   115859 non-null  int64
 22  yearserved       115424 non-null  float64
 23  prestiegepower   115859 non-null  int64
 24  ownershipratio   115859 non-null  float64
dtypes: float64(14), int64(7), object(4)
memory usage: 23.0+ MB

In [187]:
# ceo_df.drop(['gvkey_y', 'age_y', 'mkvalt_y'], axis=1, inplace=True)
# ceo_df.rename(columns={'gvkey_x': 'gvkey', 'age_x': 'age', 'mkvalt_x': 'mkvalt'}, inplace=True)
# ceo_df = ceo_df.loc[:, ~ceo_df.columns.duplicated()]
ceo_df.drop(['unnamed: 0', 'Unnamed: 0', 'stock_awards.1'], axis=1, inplace=True)

In [ ]:
ceo_df = pd.get_dummies(ceo_df, columns=['NAICSDESC'], prefix='', prefix_sep='')

In [189]:
ceo_df.to_csv('./input_data_clean/CEO_DF.csv')

In [91]:
ceo_df = pd.read_csv('./input_data_clean/CEO_DF.csv')

In [157]:
ceo_df.drop(['unnamed: 0'], axis=1, inplace=True)

In [132]:
ceo_df.drop(['ceoann'], axis=1, inplace=True)

In [95]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
ceo_df['naicsdesc'] = le.fit_transform(ceo_df['naicsdesc'])

In [135]:
ceo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10823 entries, 0 to 10822
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gvkey            10823 non-null  int64
 1   ticker           10823 non-null  object
 2   salary           10823 non-null  float64
 3   bonus            10823 non-null  float64
 4   stock_awards     10823 non-null  float64
 5   option_awards    10823 non-null  float64
 6   othcomp          10823 non-null  float64
 7   total_curr       10823 non-null  float64
 8   age              10823 non-null  float64
 9   tdc1             10823 non-null  float64
 10  year             10823 non-null  int64
 11  becameceo        10708 non-null  float64
 12  joined_co        2531 non-null   float64
 13  leftofc          6389 non-null   float64
 14  gender           10823 non-null  object
 15  cusip            10823 non-null  int64
 16  naicsdesc        10823 non-null  int64
 17  sic              10823 non-null  int64
 18  mkvalt           8562 non-null   float64
 19  size_category    8562 non-null   object
 20  signature_index  10823 non-null  object
 21  ownershipratio   10487 non-null  float64
 22  ownershippower   10823 non-null  int64
 23  yearserved       10766 non-null  float64
 24  prestiegepower   10823 non-null  int64
dtypes: float64(14), int64(7), object(4)
memory usage: 2.1+ MB

In [158]:
ceo_df.to_csv('./input_data_clean/CEO_DF.csv')

In [159]:
ceo_df['ownershipratio'].describe()

count    3.101900e+04
mean              inf
std               NaN
min      0.000000e+00
25%      3.202882e+00
50%      5.260440e+00
75%      9.441683e+00
max               inf
Name: ownershipratio, dtype: float64

In [126]:
ceo_df = pd.read_csv('./input_data_clean/CEO_DF.csv')

import datetime as dt
import numpy as np
ceo_df['becameceo'] = pd.to_datetime(ceo_df['becameceo'])
ceo_df['becameceo'] = ceo_df['becameceo'].astype(np.int64)
ceo_df.loc[ceo_df['becameceo'] < 0, 'becameceo'] = np.nan
ceo_df['joined_co'] = pd.to_datetime(ceo_df['joined_co'])
ceo_df['joined_co'] = ceo_df['joined_co'].astype(np.int64)
ceo_df.loc[ceo_df['joined_co'] < 0, 'joined_co'] = np.nan
ceo_df['leftofc'] = pd.to_datetime(ceo_df['leftofc'])
ceo_df['leftofc'] = ceo_df['leftofc'].astype(np.int64)
ceo_df.loc[ceo_df['leftofc'] < 0, 'leftofc'] = np.nan

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
ceo_df['cusip'] = le.fit_transform(ceo_df['cusip'])

In [140]:
p_df = pd.read_csv('./input_data_clean/CEO_BOD_Clean.csv')

In [141]:
check = p_df['ownershipRatio']

In [142]:
ceo_df = pd.read_csv('./input_data_clean/CEO_DF.csv')

In [ ]:
ceo_df = ceo_df.merge(

In [143]:
ceo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10823 entries, 0 to 10822
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       10823 non-null  int64
 1   gvkey            10823 non-null  int64
 2   ticker           10823 non-null  object
 3   salary           10823 non-null  float64
 4   bonus            10823 non-null  float64
 5   stock_awards     10823 non-null  float64
 6   option_awards    10823 non-null  float64
 7   othcomp          10823 non-null  float64
 8   total_curr       10823 non-null  float64
 9   age              10823 non-null  float64
 10  tdc1             10823 non-null  float64
 11  year             10823 non-null  int64
 12  becameceo        10708 non-null  float64
 13  joined_co        2531 non-null   float64
 14  leftofc          6389 non-null   float64
 15  gender           10823 non-null  object
 16  cusip            10823 non-null  int64
 17  naicsdesc        10823 non-null  int64
 18  sic              10823 non-null  int64
 19  mkvalt           8562 non-null   float64
 20  size_category    8562 non-null   object
 21  signature_index  10823 non-null  object
 22  ownershipratio   10487 non-null  float64
 23  ownershippower   10823 non-null  int64
 24  yearserved       10766 non-null  float64
 25  prestiegepower   10823 non-null  int64
dtypes: float64(14), int64(8), object(4)
memory usage: 2.1+ MB

In [131]:
ceo_df.to_csv('./input_data_clean/CEO_DF.csv')

In [220]:
bod_df = pd.read_csv('./input_data_clean/BOD_DF.csv')

In [191]:
bod_df = pd.read_csv('./input_data_clean/BOD_DF.csv')
df = pd.read_csv('./input_data_clean/director_comp_deter.csv')

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5762 entries, 0 to 5761
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        5762 non-null   int64
 1   tic               5762 non-null   object
 2   fyear             5762 non-null   float64
 3   liquidity         4142 non-null   float64
 4   net_income        3977 non-null   float64
 5   num_employees     5687 non-null   float64
 6   market_value      5078 non-null   float64
 7   debt_to_equity    5728 non-null   float64
 8   assets_in_place   5274 non-null   float64
 9   capex_by_assets   3974 non-null   float64
 10  return_on_equity  3977 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 495.3+ KB

In [197]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
bod_df['spcode'] = le.fit_transform(bod_df['spcode'])

In [222]:
bod_df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8773 entries, 0 to 8772
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gvkey                8773 non-null   int64
 1   total_sec            8773 non-null   float64
 2   othcomp              8773 non-null   float64
 3   noneq_incent         8773 non-null   float64
 4   cash_fees            8773 non-null   float64
 5   stock_awards         8773 non-null   float64
 6   option_awards        8773 non-null   float64
 7   spcode               8773 non-null   int64
 8   cusip                8773 non-null   int64
 9   year                 8773 non-null   int64
 10  total_director_comp  8773 non-null   float64
 11  total_othcomp        8773 non-null   float64
 12  total_noneq_incent   8773 non-null   float64
 13  total_cash_fees      8773 non-null   float64
 14  total_stock_awards   8773 non-null   float64
 15  total_option_awards  8773 non-null   float64
 16  mkvalt               6922 non-null   float64
 17  liquidity            3885 non-null   float64
 18  net_income           3149 non-null   float64
 19  num_employees        8699 non-null   float64
 20  market_value         6829 non-null   float64
 21  debt_to_equity       8757 non-null   float64
 22  assets_in_place      7321 non-null   float64
 23  capex_by_assets      3147 non-null   float64
 24  return_on_equity     3149 non-null   float64
dtypes: float64(21), int64(4)
memory usage: 1.7 MB

In [221]:
bod_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8773 entries, 0 to 8772
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           8773 non-null   int64
 1   gvkey                8773 non-null   int64
 2   ticker               8773 non-null   object
 3   total_sec            8773 non-null   float64
 4   othcomp              8773 non-null   float64
 5   noneq_incent         8773 non-null   float64
 6   cash_fees            8773 non-null   float64
 7   stock_awards         8773 non-null   float64
 8   option_awards        8773 non-null   float64
 9   spcode               8773 non-null   object
 10  cusip                8773 non-null   object
 11  coname               8773 non-null   object
 12  year                 8773 non-null   int64
 13  total_director_comp  8773 non-null   float64
 14  total_othcomp        8773 non-null   float64
 15  total_noneq_incent   8773 non-null   float64
 16  total_cash_fees      8773 non-null   float64
 17  total_stock_awards   8773 non-null   float64
 18  total_option_awards  8773 non-null   float64
 19  mkvalt               6922 non-null   float64
 20  size_category        6922 non-null   object
 21  signature_index      8773 non-null   object
 22  liquidity            3885 non-null   float64
 23  net_income           3149 non-null   float64
 24  num_employees        8699 non-null   float64
 25  market_value         6829 non-null   float64
 26  debt_to_equity       8757 non-null   float64
 27  assets_in_place      7321 non-null   float64
 28  capex_by_assets      3147 non-null   float64
 29  return_on_equity     3149 non-null   float64
dtypes: float64(21), int64(3), object(6)
memory usage: 2.0+ MB

In [224]:
bod_df.to_csv('./input_data_clean/BOD_DF.csv')

In [225]:
bod_df.describe()

,gvkey,total_sec,othcomp,noneq_incent,cash_fees,stock_awards,option_awards,year,total_director_comp,total_othcomp,total_noneq_incent,total_cash_fees,total_stock_awards,total_option_awards,mkvalt,liquidity,net_income,num_employees,market_value,debt_to_equity,assets_in_place,capex_by_assets,return_on_equity
count,8773.000000,8.773000e+03,8773.000000,8773.000000,8773.000000,8.773000e+03,8773.000000,8773.000000,8773.000000,8773.000000,8773.000000,8773.000000,8773.000000,8773.000000,6.922000e+03,3885.000000,3149.000000,8699.000000,6829.000000,8757.000000,7321.000000,3147.000000,3149.000000
mean,51126.038983,4.872646e+02,17.904714,0.028434,100.167401,3.556027e+02,13.585409,2015.505414,2226.621567,128.295294,3.998807,862.832307,996.453693,211.805984,4.102918e+04,0.137121,1678.147851,40.622200,33201.705902,3.789363,0.246035,0.045511,0.066440
std,63506.010925,2.057758e+04,180.524592,1.063338,62.210634,2.057780e+04,117.750978,2.300127,1449.372677,401.249800,94.135958,559.613384,819.851177,648.630627,7.221464e+04,0.163929,3927.863067,97.706821,56756.406571,20.894526,0.350103,0.040322,0.080396
min,1045.000000,0.000000e+00,-252.000000,0.000000,0.000000,0.000000e+00,0.000000,2011.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.289170e+01,-0.394751,-23119.000000,0.052000,62.891700,-855.695652,0.000000,0.000000,-1.226993
25%,6781.000000,1.999150e+02,0.000000,0.000000,72.000000,8.999700e+01,0.000000,2014.000000,1334.310000,0.000000,0.000000,467.174000,480.104000,0.000000,1.012891e+04,0.018937,244.100000,4.058500,7878.348200,1.076222,0.006695,0.018492,0.030410
50%,14824.000000,2.555000e+02,0.000000,0.000000,100.000000,1.300400e+02,0.000000,2016.000000,1992.099000,8.000000,0.000000,777.359000,873.355000,0.000000,1.790603e+04,0.096980,593.804000,13.400000,15235.260000,2.190500,0.077511,0.033888,0.063631
75%,65609.000000,3.065310e+02,5.000000,0.000000,125.000000,1.749180e+02,0.000000,2018.000000,2803.750000,113.164000,0.000000,1220.834000,1362.186000,122.400000,3.633528e+04,0.234610,1574.000000,40.000000,29901.693000,6.514269,0.326998,0.060842,0.103170
max,316056.000000,1.927511e+06,7688.890000,78.000000,941.186000,1.927511e+06,6838.600000,2019.000000,24450.872000,5667.183000,3025.000000,3948.455000,11953.109000,11948.963000,1.073391e+06,0.768114,53394.000000,2300.000000,790050.098100,990.205128,4.979567,0.467642,0.398172

In [207]:
import pandas as pd

# Set pandas options to display all columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Print the summary statistics of the DataFrame
print(bod_df.describe())

               gvkey     total_sec      othcomp  noneq_incent    cash_fees  \
count    8773.000000  8.773000e+03  8773.000000   8773.000000  8773.000000
mean    51126.038983  4.872646e+02    17.904714      0.028434   100.167401
std     63506.010925  2.057758e+04   180.524592      1.063338    62.210634
min      1045.000000  0.000000e+00  -252.000000      0.000000     0.000000
25%      6781.000000  1.999150e+02     0.000000      0.000000    72.000000
50%     14824.000000  2.555000e+02     0.000000      0.000000   100.000000
75%     65609.000000  3.065310e+02     5.000000      0.000000   125.000000
max    316056.000000  1.927511e+06  7688.890000     78.000000   941.186000

       stock_awards  option_awards       spcode        cusip         year  \
count  8.773000e+03    8773.000000  8773.000000  8773.000000  8773.000000
mean   3.556027e+02      13.585409     0.992705   245.459592  2015.505414
std    2.057780e+04     117.750978     0.085104   145.642920     2.300127
min    0.000000e+00       0.000000     0.000000     0.000000  2011.000000
25%    8.999700e+01       0.000000     1.000000   106.000000  2014.000000
50%    1.300400e+02       0.000000     1.000000   249.000000  2016.000000
75%    1.749180e+02       0.000000     1.000000   368.000000  2018.000000
max    1.927511e+06    6838.600000     1.000000   493.000000  2019.000000

       total_director_comp  total_othcomp  total_noneq_incent  \
count          8773.000000    8773.000000         8773.000000
mean           2226.621567     128.295294            3.998807
std            1449.372677     401.249800           94.135958
min               0.000000       0.000000            0.000000
25%            1334.310000       0.000000            0.000000
50%            1992.099000       8.000000            0.000000
75%            2803.750000     113.164000            0.000000
max           24450.872000    5667.183000         3025.000000

       total_cash_fees  total_stock_awards  total_option_awards        mkvalt  \
count      8773.000000         8773.000000          8773.000000  6.922000e+03
mean        862.832307          996.453693           211.805984  4.102918e+04
std         559.613384          819.851177           648.630627  7.221464e+04
min           0.000000            0.000000             0.000000  6.289170e+01
25%         467.174000          480.104000             0.000000  1.012891e+04
50%         777.359000          873.355000             0.000000  1.790603e+04
75%        1220.834000         1362.186000           122.400000  3.633528e+04
max        3948.455000        11953.109000         11948.963000  1.073391e+06

         liquidity    net_income  num_employees   market_value  \
count  3885.000000   3149.000000    8699.000000    6829.000000
mean      0.137121   1678.147851      40.622200   33201.705902
std       0.163929   3927.863067      97.706821   56756.406571
min      -0.394751 -23119.000000       0.052000      62.891700
25%       0.018937    244.100000       4.058500    7878.348200
50%       0.096980    593.804000      13.400000   15235.260000
75%       0.234610   1574.000000      40.000000   29901.693000
max       0.768114  53394.000000    2300.000000  790050.098100

       debt_to_equity  assets_in_place  capex_by_assets  return_on_equity
count     8757.000000      7321.000000      3147.000000       3149.000000
mean         3.789363         0.246035         0.045511          0.066440
std         20.894526         0.350103         0.040322          0.080396
min       -855.695652         0.000000         0.000000         -1.226993
25%          1.076222         0.006695         0.018492          0.030410
50%          2.190500         0.077511         0.033888          0.063631
75%          6.514269         0.326998         0.060842          0.103170
max        990.205128         4.979567         0.467642          0.398172

In [223]:
bod_df = bod_df.clip(lower=0)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [213]:
import numpy as np

df = df.select_dtypes(include=np.number)

nan_rows = np.where(np.isnan(df))
nan_columns = df.columns[nan_rows[1]]
print("NaN values are located in columns:", nan_columns)

inf_rows = np.where(np.isinf(df))
inf_columns = df.columns[inf_rows[1]]
print("Inf values are located in columns:", inf_columns)

large_values_rows = np.where(df > np.finfo(np.float64).max)
large_values_columns = df.columns[large_values_rows[1]]
print("Values larger than max float64 are located in columns:", large_values_columns)

NaN values are located in columns: Index(['liquidity', 'net_income', 'capex_by_assets', 'return_on_equity',
       'liquidity', 'net_income', 'capex_by_assets', 'return_on_equity',
       'liquidity', 'net_income',
       ...
       'return_on_equity', 'net_income', 'capex_by_assets', 'return_on_equity',
       'net_income', 'capex_by_assets', 'return_on_equity', 'num_employees',
       'market_value', 'market_value'],
      dtype='object', length=27099)
Inf values are located in columns: Index([], dtype='object')
Values larger than max float64 are located in columns: Index([], dtype='object')

In [217]:
bod_df = df