In [2]:
import pandas as pd

In [9]:
sp500_file = pd.read_csv('input_data/sp500_2022.csv')

In [16]:
firm_data = pd.read_csv('input_data/Firm_data.csv')
data_desc = pd.read_csv('data_description/Firm_data_descriptions.csv')

In [43]:
data_desc['Variable Name'] = data_desc['Variable Name'].str.lower()
data_desc = data_desc[['Variable Name','Description']]
column_names = pd.DataFrame(firm_data.columns)
column_names = column_names.rename(columns = {column_names.columns[0]: 'Variable Name'})
data_definitions = column_names.merge(data_desc, 
                how='left',
                on='Variable Name',
                indicator=False,
                validate='1:1')

In [44]:
data_definitions

   Variable Name                                        Description
0          gvkey                GVKEY -- Global Company Key (GVKEY)
1       datadate                                                NaN
2          fyear                FYEAR -- Data Year - Fiscal (FYEAR)
3         indfmt                                                NaN
4         consol                                                NaN
5         popsrc                                                NaN
6        datafmt                                                NaN
7            tic                                Ticker Symbol (TIC)
8          cusip                                      CUSIP (CUSIP)
9           conm                                Company Name (CONM)
10         curcd                                                NaN
11           fyr                              Fiscal Year-End (FYR)
12           act                ACT -- Current Assets - Total (ACT)
13            at                          AT -- Assets - Total (AT)
14        bkvlps            BKVLPS -- Book Value Per Share (BKVLPS)
15          capx                CAPX -- Capital Expenditures (CAPX)
16          ceql     CEQL -- Common Equity Liquidation Value (CEQL)
17          csho           CSHO -- Common Shares Outstanding (CSHO)
18          dltt              DLTT -- Long-Term Debt - Total (DLTT)
19            dt            DT -- Total Debt Including Current (DT)
20           emp                             EMP -- Employees (EMP)
21           lct           LCT -- Current Liabilities - Total (LCT)
22            lt                     LT -- Liabilities - Total (LT)
23            ni                       NI -- Net Income (Loss) (NI)
24         ppegt  PPEGT -- Property, Plant and Equipment - Total...
25         pstkl  PSTKL -- Preferred Stock Liquidating Value (PS...
26           seq          SEQ -- Stockholders' Equity - Total (SEQ)
27           teq           TEQ -- Stockholders Equity - Total (TEQ)
28           xad                   XAD -- Advertising Expense (XAD)
29           xrd      XRD -- Research and Development Expense (XRD)
30           cik                                   CIK Number (CIK)
31        costat                                                NaN
32        mkvalt   MKVALT -- Market Value - Total - Fiscal (MKVALT)
33       gsector                   GSECTOR -- GIC Sectors (GSECTOR)
34         naics  NAICS -- North American Industry Classificatio...
35       ipodate  IPODATE -- Company Initial Public Offering Dat...

In [49]:
firm_data.query('tic == "AAPL"')

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,cusip,conm,...,seq,teq,xad,xrd,cik,costat,mkvalt,gsector,naics,ipodate
200,1690,2010-09-30,2010.0,INDL,C,D,STD,AAPL,037833100,APPLE INC,...,47791.0,47791.0,691.0,1782.0,320193,A,2.599065e+05,45,334220,1980-12-12
201,1690,2011-09-30,2011.0,INDL,C,D,STD,AAPL,037833100,APPLE INC,...,76615.0,76615.0,933.0,2429.0,320193,A,3.543519e+05,45,334220,1980-12-12
202,1690,2012-09-30,2012.0,INDL,C,D,STD,AAPL,037833100,APPLE INC,...,118210.0,118210.0,1000.0,3381.0,320193,A,6.265504e+05,45,334220,1980-12-12
203,1690,2013-09-30,2013.0,INDL,C,D,STD,AAPL,037833100,APPLE INC,...,123549.0,123549.0,1100.0,4475.0,320193,A,4.286998e+05,45,334220,1980-12-12
204,1690,2014-09-30,2014.0,INDL,C,D,STD,AAPL,037833100,APPLE INC,...,111547.0,111547.0,1200.0,6041.0,320193,A,5.910157e+05,45,334220,1980-12-12
205,1690,2015-09-30,2015.0,INDL,C,D,STD,AAPL,037833100,APPLE INC,...,119355.0,119355.0,1800.0,8067.0,320193,A,6.153365e+05,45,334220,1980-12-12
206,1690,2016-09-30,2016.0,INDL,C,D,STD,AAPL,037833100,APPLE INC,...,128249.0,128249.0,NaN,10045.0,320193,A,6.032536e+05,45,334220,1980-12-12
207,1690,2017-09-30,2017.0,INDL,C,D,STD,AAPL,037833100,APPLE INC,...,134047.0,134047.0,NaN,11581.0,320193,A,7.900501e+05,45,334220,1980-12-12
208,1690,2018-09-30,2018.0,INDL,C,D,STD,AAPL,037833100,APPLE INC,...,107147.0,107147.0,NaN,14236.0,320193,A,1.073391e+06,45,334220,1980-12-12
209,1690,2019-09-30,2019.0,INDL,C,D,STD,AAPL,037833100,APPLE INC,...,90488.0,90488.0,NaN,16217.0,320193,A,9.951516e+05,45,334220,1980-12-12

In [52]:
tic = 'AAPL'
year = 2012
firm_data.query('tic == @tic & fyear == @year')['ceql']

202    118210.0
Name: ceql, dtype: float64

In [53]:
def mtb(tic, year):
    market_value = firm_data.query('tic == @tic & fyear == @year')['mkvalt']
    book_value = firm_data.query('tic == @tic & fyear == @year')['ceql']
    return market_value / book_value

In [55]:
mtb('AAPL',2012)

202    5.300316
dtype: float64