In [14]:
from ydata_profiling import ProfileReport
import pandas as pd
import numpy as np
import pandas_datareader as pdr  # to install: !pip install pandas_datareader
from datetime import datetime

In [15]:
url = 'https://github.com/LeDataSciFi/data/raw/main/Firm%20Year%20Datasets%20(Compustat)/firms2020.csv'
firms_df = pd.read_csv(url).drop_duplicates('tic')

bod_df = pd.read_csv('./Input_data/DirectorComp.csv')
ceo_df = pd.read_csv('./Input_data/CEOComp.csv')

In [17]:
# ceo_df.dropna(axis=1, how='all', inplace=True)
# Calculate the total compensation for the CEO in that year
ceo_df = ceo_df[ceo_df['CEOANN'].notnull()]
ceo_df['TDC1'].describe() #only difference between TDC1 and TDC2 is the options preferences. TDC1 is bk value of options (Black- Scholes equation)

count      4811.000000
mean      11467.801272
std       10203.831261
min           0.001000
25%        6158.732500
50%        9658.115000
75%       14350.184000
max      280621.551000
Name: TDC1, dtype: float64

In [19]:
ceo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4811 entries, 0 to 26762
Data columns (total 89 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EXEC_FULLNAME            4811 non-null   object
 1   CFOANN                   38 non-null     object
 2   EXECDIR                  4811 non-null   int64
 3   OLD_DATAFMT_FLAG         4811 non-null   int64
 4   INTERLOCK                4811 non-null   int64
 5   REPRICE                  4811 non-null   int64
 6   EXECRANK                 64 non-null     float64
 7   CO_PER_ROL               4811 non-null   int64
 8   CONAME                   4811 non-null   object
 9   TITLEANN                 4741 non-null   object
 10  CEOANN                   4811 non-null   object
 11  SALARY                   4811 non-null   float64
 12  BONUS                    4811 non-null   float64
 13  STOCK_AWARDS             4811 non-null   float64
 14  OPTION_AWARDS            4811 non-null   float64
 15  NONEQ_INCENT             4811 non-null   float64
 16  PENSION_CHG              4811 non-null   float64
 17  OTHCOMP                  4811 non-null   float64
 18  TOTAL_SEC                4807 non-null   float64
 19  TOTAL_CURR               4811 non-null   float64
 20  TOTAL_ALT1               4811 non-null   float64
 21  TOTAL_ALT2               4811 non-null   float64
 22  TERM_PYMT                4811 non-null   float64
 23  CHG_CTRL_PYMT            4811 non-null   float64
 24  SHROWN_TOT               4732 non-null   float64
 25  SHROWN_TOT_PCT           4651 non-null   float64
 26  SHROWN_EXCL_OPTS         4732 non-null   float64
 27  SHROWN_EXCL_OPTS_PCT     4699 non-null   float64
 28  OPT_EXER_NUM             4811 non-null   float64
 29  OPT_EXER_VAL             4811 non-null   float64
 30  SHRS_VEST_NUM            4811 non-null   float64
 31  SHRS_VEST_VAL            4811 non-null   float64
 32  AGE                      4811 non-null   float64
 33  OPTION_AWARDS_NUM        4811 non-null   float64
 34  OPTION_AWARDS_FV         4811 non-null   float64
 35  STOCK_AWARDS_FV          4811 non-null   float64
 36  OPT_UNEX_EXER_NUM        4811 non-null   float64
 37  OPT_UNEX_UNEXER_NUM      4811 non-null   float64
 38  OPT_UNEX_EXER_EST_VAL    4811 non-null   float64
 39  OPT_UNEX_UNEXER_EST_VAL  4811 non-null   float64
 40  STOCK_UNVEST_NUM         4811 non-null   float64
 41  STOCK_UNVEST_VAL         4811 non-null   float64
 42  EIP_UNEARN_NUM           4811 non-null   float64
 43  EIP_UNEARN_VAL           4811 non-null   float64
 44  PENSION_VALUE_TOT        4811 non-null   float64
 45  PENSION_PYMTS_TOT        4811 non-null   float64
 46  DEFER_CONTRIB_EXEC_TOT   4811 non-null   float64
 47  DEFER_CONTRIB_CO_TOT     4811 non-null   float64
 48  DEFER_EARNINGS_TOT       4811 non-null   float64
 49  DEFER_WITHDR_TOT         4811 non-null   float64
 50  DEFER_BALANCE_TOT        4811 non-null   float64
 51  DEFER_RPT_AS_COMP_TOT    4811 non-null   float64
 52  EXECRANKANN              4741 non-null   float64
 53  OTHANN                   0 non-null      float64
 54  TDC1                     4811 non-null   float64
 55  TDC2                     4811 non-null   float64
 56  RSTKGRNT                 0 non-null      float64
 57  OPTION_AWARDS_BLK_VALUE  0 non-null      float64
 58  OPTION_AWARDS_RPT_VALUE  0 non-null      float64
 59  LTIP                     0 non-null      float64
 60  ALLOTHTOT                0 non-null      float64
 61  ALLOTHPD                 0 non-null      float64
 62  SAL_PCT                  4687 non-null   float64
 63  TOTAL_CURR_PCT           4688 non-null   float64
 64  TOTAL_SEC_PCT            4685 non-null   float64
 65  TOTAL_ALT1_PCT           4689 non-null   float64
 66  TOTAL_ALT2_PCT           4688 non-null   float64
 67  TDC1_PCT                 4688 non-null   float64
 68  TDC2_PCT                 4687 non-null   float64
 69  RET_YRS                  0 non-null      float64
 70  COMMENT                  0 non-null      float64
 71  GVKEY                    4811 non-null   int64
 72  EXECID                   4811 non-null   int64
 73  YEAR                     4811 non-null   int64
 74  RSTKVYRS                 0 non-null      float64
 75  BECAMECEO                4778 non-null   object
 76  JOINED_CO                1307 non-null   object
 77  REJOIN                   0 non-null      float64
 78  LEFTOFC                  3063 non-null   object
 79  LEFTCO                   36 non-null     object
 80  RELEFT                   0 non-null      float64
 81  PCEO                     2082 non-null   object
 82  TITLE                    4802 non-null   object
 83  REASON                   36 non-null     object
 84  GENDER                   4811 non-null   object
 85  CUSIP                    4811 non-null   object
 86  NAICSDESC                4811 non-null   object
 87  TICKER                   4811 non-null   object
 88  SIC                      4811 non-null   int64
dtypes: float64(64), int64(9), object(16)
memory usage: 3.3+ MB

In [ ]:
# GVKEY: Compustat's Global Company Key
# EXECID: Executive ID number
# YEAR: The year for which you want to calculate the CEO's compensation
# SALARY: Base salary paid to the CEO
# BONUS: Bonus paid to the CEO
# STOCK_AWARDS: Value of stock and option awards paid to the CEO
# OPTIONS_AWARDS: Value of option awards paid to the CEO
# LTIP: Value of long-term incentive plan awards paid to the CEO
# ALL_OTHER_COMP: All other compensation paid to the CEO