In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from datetime import datetime as dt

CEO_DF = pd.read_csv('input_data_clean/CEO_DF.csv')
BOD_DF = pd.read_csv('input_data_clean/BOD_DF.csv')

CEO_DF.columns

CEO_DF['BECAMECEO'] = CEO_DF['BECAMECEO'].astype('datetime64[ns]')
#CEO_DF['YEAR'] = CEO_DF['YEAR'].astype('datetime64[ns]')

CEO_DF.TDC1.describe()

Note TDC1 in thousands

x = CEO_DF['TDC1'].quantile([0.01]).values[0]

x

sns.histplot(CEO_DF['TDC1'])

CEO_DF = CEO_DF[CEO_DF['TDC1'] >= x]

CEO_DF['TDC1'].describe()

inner_merge_df = CEO_DF.merge(BOD_DF, how = 'inner',
                              on = ['TICKER', 'YEAR']).reset_index(drop=True)

inner_merge_df = inner_merge_df.drop(['Unnamed: 0_x','Unnamed: 0_y'], axis = 1)

inner_merge_df.columns

# Determining onwership power

inner_merge_df['ownershipRatio'] = inner_merge_df['STOCK_AWARDS_x'] / inner_merge_df['total_STOCK_AWARDS']

inner_merge_df['ownershipRatio'].median()

median = inner_merge_df['ownershipRatio'].median()

median

inner_merge_df['ownershipRatio'].quantile([0, 0.9])

inner_merge_df

inner_merge_df['ownershipPower'] = 0

inner_merge_df.ownershipPower[inner_merge_df.ownershipRatio > median] = 1

inner_merge_df

inner_merge_df['BECAMECEO'].dt.year

Expert Power
Create variable for years served

inner_merge_df['yearServed'] =  inner_merge_df['YEAR'] - inner_merge_df['BECAMECEO'].dt.year

inner_merge_df['yearServed']

inner_merge_df[['YEAR','BECAMECEO','yearServed']]

inner_merge_df['prestiegePower'] = 0

inner_merge_df.prestiegePower[inner_merge_df.yearServed > median] = 1

inner_merge_df

inner_merge_df.columns

final_df = inner_merge_df[['GVKEY_x', 'TICKER','AGE', 'TDC1', 'YEAR','BECAMECEO',
                         'STOCK_AWARDS_x', 'STOCK_AWARDS_y', 'ownershipRatio',
                        'ownershipPower', 'yearServed', 'prestiegePower',
                          'SIZE_CATEGORY_x', 'MKVALT_x']]

final_df

final_df.to_csv('input_data_clean/CEO_BOD_Merged.csv')

In [2]:
df = pd.read_csv('input_data_clean/CEO_BOD_merged.csv')

In [3]:
df = df.drop('Unnamed: 0', axis = 1)

In [4]:
df

,GVKEY_x,TICKER,AGE,TDC1,YEAR,BECAMECEO,STOCK_AWARDS_x,STOCK_AWARDS_y,ownershipRatio,ownershipPower,yearServed,prestiegePower,SIZE_CATEGORY_x,MKVALT_x
0,1045,AAL,51.0,5231.393,2010,2003-04-25,3280.680,24.103,11.983169,1,7.0,1,Medium,2597.5755
1,1045,AAL,52.0,5526.835,2011,2003-04-25,4020.380,13.811,14.685032,1,8.0,1,Tiny,117.3438
2,1045,AAL,50.0,656.226,2012,2011-11-28,0.000,0.000,0.000000,0,1.0,0,Tiny,266.5571
3,1045,AAL,51.0,19092.978,2013,2011-11-28,4199.761,0.000,15.340248,1,2.0,0,Medium,6591.9923
4,1045,AAL,52.0,12301.976,2014,2013-12-09,7000.000,280.000,25.568535,1,1.0,0,Big,37405.5843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7312,316056,ALLE,57.0,6554.281,2015,2013-08-01,2514.691,70.056,inf,1,2.0,0,Medium,6327.7267
7313,316056,ALLE,58.0,6254.577,2016,2013-08-01,2331.625,70.008,inf,1,3.0,0,Medium,6097.5360
7314,316056,ALLE,59.0,6530.474,2017,2013-08-01,2776.707,0.000,inf,1,4.0,0,Medium,7563.1327
7315,316056,ALLE,60.0,6913.202,2018,2013-08-01,3017.362,100.033,inf,1,5.0,0,Medium,7543.5153
7316,316056,ALLE,61.0,7156.664,2019,2013-08-01,3015.155,100.067,inf,1,6.0,1,Big,11547.8470

In [5]:
# ownRat = df['ownershipRatio']

In [6]:
ownRat = pd.DataFrame(df['ownershipRatio'])

In [7]:
ownRat.sort_values(by='ownershipRatio', ascending=True).head(350)

      ownershipRatio
6982        0.000000
647         0.000000
648         0.000000
7145        0.000000
7146        0.000000
...              ...
6413        0.403435
6411        0.403435
6410        0.403435
6412        0.403435
5531        0.447133

[350 rows x 1 columns]

In [8]:
maxRatio = 406.179533

In [9]:
df['ownershipRatio'].replace(np.inf, maxRatio, inplace=True)

In [10]:
df['ownershipRatio'].replace(np.nan, 0, inplace=True)

In [11]:
df

,GVKEY_x,TICKER,AGE,TDC1,YEAR,BECAMECEO,STOCK_AWARDS_x,STOCK_AWARDS_y,ownershipRatio,ownershipPower,yearServed,prestiegePower,SIZE_CATEGORY_x,MKVALT_x
0,1045,AAL,51.0,5231.393,2010,2003-04-25,3280.680,24.103,11.983169,1,7.0,1,Medium,2597.5755
1,1045,AAL,52.0,5526.835,2011,2003-04-25,4020.380,13.811,14.685032,1,8.0,1,Tiny,117.3438
2,1045,AAL,50.0,656.226,2012,2011-11-28,0.000,0.000,0.000000,0,1.0,0,Tiny,266.5571
3,1045,AAL,51.0,19092.978,2013,2011-11-28,4199.761,0.000,15.340248,1,2.0,0,Medium,6591.9923
4,1045,AAL,52.0,12301.976,2014,2013-12-09,7000.000,280.000,25.568535,1,1.0,0,Big,37405.5843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7312,316056,ALLE,57.0,6554.281,2015,2013-08-01,2514.691,70.056,406.179533,1,2.0,0,Medium,6327.7267
7313,316056,ALLE,58.0,6254.577,2016,2013-08-01,2331.625,70.008,406.179533,1,3.0,0,Medium,6097.5360
7314,316056,ALLE,59.0,6530.474,2017,2013-08-01,2776.707,0.000,406.179533,1,4.0,0,Medium,7563.1327
7315,316056,ALLE,60.0,6913.202,2018,2013-08-01,3017.362,100.033,406.179533,1,5.0,0,Medium,7543.5153
7316,316056,ALLE,61.0,7156.664,2019,2013-08-01,3015.155,100.067,406.179533,1,6.0,1,Big,11547.8470

In [12]:
df.to_csv('input_data_clean/CEO_BOD_Clean.csv')