In [1]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr  # to install: !pip install pandas_datareader
from datetime import datetime

url = 'https://github.com/LeDataSciFi/data/raw/main/Firm%20Year%20Datasets%20(Compustat)/firms2020.csv'
firms_df = pd.read_csv(url).drop_duplicates('tic')

In [2]:
df1 = pd.read_csv('./Input_data/ceo_data.csv')
df15 = df1[df1['CEOANN'].notnull()]

In [3]:
df1.head(20)

,EXECRANK,CO_PER_ROL,CONAME,CEOANN,SALARY,BONUS,TOTAL_SEC,TOTAL_CURR,TOTAL_ALT1,TOTAL_ALT2,...,LEFTCO,RELEFT,PCEO,REASON,EXEC_LNAME,EXEC_FNAME,GENDER,CUSIP,TICKER,SIC
0,NaN,60,HONEYWELL INTERNATIONAL INC,CEO,1016.667,1250.0,NaN,2266.667,NaN,NaN,...,2000-04-01,2002-07-01,NaN,RETIRED,Bossidy,Lawrence,MALE,43851610,HON,9997
1,NaN,61,HONEYWELL INTERNATIONAL INC,NaN,758.333,670.0,NaN,1428.333,NaN,NaN,...,1993-12-31,NaN,NaN,RETIRED,Belzer,Alan,MALE,43851610,HON,9997
2,NaN,62,HONEYWELL INTERNATIONAL INC,NaN,410.000,370.0,NaN,780.000,NaN,NaN,...,1999-10-01,NaN,NaN,UNKNOWN,Poses,Frederic,MALE,43851610,HON,9997
3,NaN,63,HONEYWELL INTERNATIONAL INC,NaN,399.996,350.0,NaN,749.996,NaN,NaN,...,NaN,NaN,NaN,NaN,Reins,Ralph,MALE,43851610,HON,9997
4,NaN,64,HONEYWELL INTERNATIONAL INC,NaN,375.000,290.0,NaN,665.000,NaN,NaN,...,NaN,NaN,NaN,NaN,Burnham,Daniel,MALE,43851610,HON,9997
5,NaN,65,HONEYWELL INTERNATIONAL INC,NaN,370.000,300.0,NaN,670.000,NaN,NaN,...,1997-12-31,NaN,NaN,RETIRED,Barter,John,MALE,43851610,HON,9997
6,NaN,4665,HONEYWELL INTERNATIONAL INC,NaN,350.000,265.0,NaN,615.000,NaN,NaN,...,NaN,NaN,NaN,NaN,Kreindler,Peter,MALE,43851610,HON,9997
7,NaN,60,HONEYWELL INTERNATIONAL INC,CEO,1100.000,1500.0,NaN,2600.000,NaN,NaN,...,2000-04-01,2002-07-01,NaN,RETIRED,Bossidy,Lawrence,MALE,43851610,HON,9997
8,NaN,61,HONEYWELL INTERNATIONAL INC,NaN,765.000,775.0,NaN,1540.000,NaN,NaN,...,1993-12-31,NaN,NaN,RETIRED,Belzer,Alan,MALE,43851610,HON,9997
9,NaN,62,HONEYWELL INTERNATIONAL INC,NaN,430.000,425.0,NaN,855.000,NaN,NaN,...,1999-10-01,NaN,NaN,UNKNOWN,Poses,Frederic,MALE,43851610,HON,9997
10,NaN,63,HONEYWELL INTERNATIONAL INC,NaN,423.333,375.0,NaN,798.333,NaN,NaN,...,NaN,NaN,NaN,NaN,Reins,Ralph,MALE,43851610,HON,9997
11,NaN,64,HONEYWELL INTERNATIONAL INC,NaN,392.500,340.0,NaN,732.500,NaN,NaN,...,NaN,NaN,NaN,NaN,Burnham,Daniel,MALE,43851610,HON,9997
12,NaN,65,HONEYWELL INTERNATIONAL INC,NaN,387.500,345.0,NaN,732.500,NaN,NaN,...,1997-12-31,NaN,NaN,RETIRED,Barter,John,MALE,43851610,HON,9997
13,NaN,4665,HONEYWELL INTERNATIONAL INC,NaN,367.500,305.0,NaN,672.500,NaN,NaN,...,NaN,NaN,NaN,NaN,Kreindler,Peter,MALE,43851610,HON,9997
14,NaN,60,HONEYWELL INTERNATIONAL INC,CEO,1625.000,2000.0,NaN,3625.000,NaN,NaN,...,2000-04-01,2002-07-01,NaN,RETIRED,Bossidy,Lawrence,MALE,43851610,HON,9997
15,NaN,62,HONEYWELL INTERNATIONAL INC,NaN,450.000,525.0,NaN,975.000,NaN,NaN,...,1999-10-01,NaN,NaN,UNKNOWN,Poses,Frederic,MALE,43851610,HON,9997
16,NaN,64,HONEYWELL INTERNATIONAL INC,NaN,416.670,390.0,NaN,806.670,NaN,NaN,...,NaN,NaN,NaN,NaN,Burnham,Daniel,MALE,43851610,HON,9997
17,NaN,65,HONEYWELL INTERNATIONAL INC,NaN,412.500,390.0,NaN,802.500,NaN,NaN,...,1997-12-31,NaN,NaN,RETIRED,Barter,John,MALE,43851610,HON,9997
18,NaN,4665,HONEYWELL INTERNATIONAL INC,NaN,385.000,340.0,NaN,725.000,NaN,NaN,...,NaN,NaN,NaN,NaN,Kreindler,Peter,MALE,43851610,HON,9997
19,NaN,60,HONEYWELL INTERNATIONAL INC,CEO,2000.000,2350.0,NaN,4350.000,NaN,NaN,...,2000-04-01,2002-07-01,NaN,RETIRED,Bossidy,Lawrence,MALE,43851610,HON,9997

In [4]:
firms_df.head()

,GVKEY,LPERMNO,LPERMCO,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,...,ppent,sale,sppe,xrd,costat,prcc_f,conml,gsector,sic,state
0,1119,10065,20023,2020/12/31,2020,INDL,C,D,STD,ADX,...,NaN,NaN,NaN,NaN,A,17.29,Adams Diversified Equity Fund Inc,NaN,6726.0,MD
1,1161,61241,211,2020/12/31,2020,INDL,C,D,STD,AMD,...,849.000,9763.000,0.000,1983.0,A,91.71,Advanced Micro Devices Inc,45.0,3674.0,CA
2,1186,78223,26174,2020/12/31,2020,INDL,C,D,STD,AEM,...,7325.418,3138.113,0.936,NaN,A,70.51,Agnico Eagle Mines Ltd,15.0,1040.0,ON
3,1209,28222,20030,2020/09/30,2020,INDL,C,D,STD,APD,...,12341.500,8856.300,NaN,83.9,A,297.86,Air Products and Chemicals Inc.,15.0,2810.0,PA
4,1266,11790,153,2020/09/30,2020,INDL,C,D,STD,ALCO,...,350.835,92.507,NaN,NaN,A,28.62,Alico Inc,30.0,100.0,FL

In [5]:
###################################
#Split up into firm sizes, tiny firms, middle size, big and then huge
#Performance (ROA) or valuation
#Q - evaluation poxy ||  market to book 
#     # - rather than stock price
# Performance or valuation = a + BPayratio + ¥X
# repeat for huge, big, mid, small firms separately
# CEO payment greater than board of directors total
# Overpayment = CEOpay/predictedpay
# predictedpay = BX --> 1. fit regression, 2. Predict on pay
# overpayment = above 1 and underpayment is below 1
# nonparametric way is log(assets)
###################################

In [6]:
df2 = pd.read_csv('./Input_data/ceo_turnover.csv')

In [7]:
merged_df = pd.merge(df1, df2, left_on = 'GVKEY', right_on='gvkey')

In [8]:
merged_df.head(5)

,EXECRANK,CO_PER_ROL,CONAME,CEOANN,SALARY,BONUS,TOTAL_SEC,TOTAL_CURR,TOTAL_ALT1,TOTAL_ALT2,...,CUSIP,TICKER,SIC,gvkey,year,exec_lname,exec_fname,forced,anndate,execid
0,NaN,946,FORD MOTOR CO,CEO,1066.667,0.0,NaN,1066.667,NaN,NaN,...,34537086,F,3711,4839,2001,Nasser,Jacques,1,2001-10-29,12772
1,NaN,946,FORD MOTOR CO,CEO,1066.667,0.0,NaN,1066.667,NaN,NaN,...,34537086,F,3711,4839,2016,Fields,Mark,1,2017-05-22,29617
2,NaN,947,FORD MOTOR CO,NaN,385.000,0.0,NaN,385.000,NaN,NaN,...,34537086,F,3711,4839,2001,Nasser,Jacques,1,2001-10-29,12772
3,NaN,947,FORD MOTOR CO,NaN,385.000,0.0,NaN,385.000,NaN,NaN,...,34537086,F,3711,4839,2016,Fields,Mark,1,2017-05-22,29617
4,NaN,948,FORD MOTOR CO,NaN,450.000,0.0,NaN,450.000,NaN,NaN,...,34537086,F,3711,4839,2001,Nasser,Jacques,1,2001-10-29,12772

In [9]:
merged_df = merged_df.drop('EXECRANK', axis=1)

In [10]:
import pandas as pd

# read in the S&P 500 tickers from a CSV file
sp500_tickers = pd.read_csv('./Input_data/sp500_2022.csv')['Symbol'].tolist()

# join the tickers into a space-separated string
tickers_str = ' '.join(sp500_tickers)

# write the tickers string to a text file
with open('sp500_tickers.txt', 'w') as f:
    f.write(tickers_str)

In [11]:
# convert GVKEY values to a list of strings and join them with spaces
gvkeys_str = ' '.join(str(gvkey) for gvkey in firms_df['GVKEY'])

# write the gvkeys string to a text file
with open('sp500_gvkeys.txt', 'w') as f:
    f.write(gvkeys_str)

In [12]:
firms_df['GVKEY'].info()

<class 'pandas.core.series.Series'>
Int64Index: 1581 entries, 0 to 1600
Series name: GVKEY
Non-Null Count  Dtype
--------------  -----
1581 non-null   int64
dtypes: int64(1)
memory usage: 24.7 KB

In [22]:
import wrds
import pandas as pd

import os

# Set up WRDS credentials
username = "rwo223"
password = "WRDSPassword"
db_name = "wrds"
hostname = "wrds-pgdata.wharton.upenn.edu"

# Write the credentials to a .pgpass file
with open(os.path.expanduser("~/.pgpass"), "w") as f:
    f.write(f"{hostname}:5432:{db_name}:{username}:{password}\n")
os.chmod(os.path.expanduser("~/.pgpass"), 0o600)

PermissionError: [Errno 13] Permission denied: '/Users/annaharv46/.pgpass'

In [20]:
sp500 = conn.raw_sql("""
                        select a.*, b.date, b.ret
                        from crsp.msp500list as a,
                        crsp.msf as b
                        where a.permno=b.permno
                        and b.date >= a.start and b.date<= a.ending
                        and b.date>='01/01/2000'
                        order by date;
                        """, date_cols=['start', 'ending', 'date'])

ProgrammingError: (psycopg2.errors.InsufficientPrivilege) permission denied for schema crsp_a_indexes

[SQL:
                        select a.*, b.date, b.ret
                        from crsp.msp500list as a,
                        crsp.msf as b
                        where a.permno=b.permno
                        and b.date >= a.start and b.date<= a.ending
                        and b.date>='01/01/2000'
                        order by date;
                        ]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [19]:

mse = conn.raw_sql("""
                        select comnam, ncusip, namedt, nameendt, 
                        permno, shrcd, exchcd, hsiccd, ticker
                        from crsp.msenames
                        """, date_cols=['namedt', 'nameendt'])

# if nameendt is missing then set to today date
mse['nameendt']=mse['nameendt'].fillna(pd.to_datetime('today'))

# Merge with SP500 data
sp500_full = pd.merge(sp500, mse, how = 'left', on = 'permno')

# Impose the date range restrictions
sp500_full = sp500_full.loc[(sp500_full.date>=sp500_full.namedt) \
                            & (sp500_full.date<=sp500_full.nameendt)]

NameError: name 'sp500' is not defined

In [ ]:
# Linking with Compustat through CCM

ccm=conn.raw_sql("""
                  select gvkey, liid as iid, lpermno as permno, linktype, linkprim, 
                  linkdt, linkenddt
                  from crsp.ccmxpf_linktable
                  where substr(linktype,1,1)='L'
                  and (linkprim ='C' or linkprim='P')
                  """, date_cols=['linkdt', 'linkenddt'])

# if linkenddt is missing then set to today date
ccm['linkenddt']=ccm['linkenddt'].fillna(pd.to_datetime('today'))

# Merge the CCM data with S&P500 data
# First just link by matching PERMNO
sp500ccm = pd.merge(sp500_full, ccm, how='left', on=['permno'])

# Then set link date bounds
sp500ccm = sp500ccm.loc[(sp500ccm['date']>=sp500ccm['linkdt'])\
                        &(sp500ccm['date']<=sp500ccm['linkenddt'])]

# Rearrange columns for final output

sp500ccm = sp500ccm.drop(columns=['namedt', 'nameendt', \
                                  'linktype', 'linkprim', 'linkdt', 'linkenddt'])
sp500ccm = sp500ccm[['date', 'permno', 'comnam', 'ncusip', 'shrcd', 'exchcd', 'hsiccd', 'ticker', \
                     'gvkey', 'iid', 'start', 'ending', 'ret']]

In [ ]:
# Print number of S&P 500 firms and GVKEYs found
print(f"Number of S&P 500 firms: {len(sp500_cusips)}")
print(f"Number of GVKEYs found: {len(sp500_gvkeys)}")

# Merge the CUSIPs and GVKEYs together
sp500_cusips_gvkeys = pd.merge(sp500_cusips, sp500_gvkeys, on='gvkey')

# Print the resulting dataframe
print(sp500_cusips_gvkeys.head())

In [ ]:
sp500_gvkeys.info()

In [ ]:
gvkeys_str = ' '.join(str(gvkey) for gvkey in firms_df['GVKEY'])

# write the gvkeys string to a text file
with open('sp500_gvkeys.txt', 'w') as f:
    f.write(gvkeys_str)