In [1]:
from ydata_profiling import ProfileReport
import pandas as pd
import numpy as np
import pandas_datareader as pdr  # to install: !pip install pandas_datareader
from datetime import datetime
url = 'https://github.com/LeDataSciFi/data/raw/main/Firm%20Year%20Datasets%20(Compustat)/firms2020.csv'
firms_df = pd.read_csv(url).drop_duplicates('tic')

bod_df = pd.read_csv('./Input_data/BOD_Comp_Company_Fin.csv')
ceo_df = pd.read_csv('./Input_data/CEO_Comp_Fin.csv')
sp500_tickers = pd.read_csv('./Input_data/sp500_2022.csv')['Symbol'].tolist()
test_df = pd.read_csv('./Input_data/directorstest.csv')
df = pd.read_csv('./Input_data/ExecuComp_data.csv')

/var/folders/29/vl12lkgs28xgjpc6t0_jg9040000gn/T/ipykernel_1875/3821301156.py:13: DtypeWarning: Columns (80,96) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./Input_data/ExecuComp_data.csv')

In [2]:
# bod_df = bod_df.drop(['NAICS', 'PCOMMFEES', 'PEXECDIRPD', 'EPSEX', 'EPSEXCHG', 'EPSEX3LS', 'EPSEX5LS', 'OIBD3LS'], axis=1)
# bod_df = bod_df.drop(['OIBDCHG', 'OIBD5LS', 'SALE3LS', 'SALE5LS', 'NI3LS', 'NI5LS', 'PDIRPENSN'], axis=1)
# bod_df = bod_df.drop(['NUMMTGS', 'TRS1YR', 'TRS3YR', 'TRS5YR', 'AJEX', 'BS_YIELD', 'BS_VOLATILITY'], axis=1)

BOD_df = bod_df[['GVKEY', 'YEAR', 'CUSIP', 'TICKER', 'SIC', 'ANNDIRRET', 
       'DIRMTGFEE', 'DIROPT', 'DIROPTAD', 'DIRSTK', 'DIRSTKAD', 
       'PDIRPENSN', 'OIBD', 'PRETAX', 'NIBEX', 'MKTVAL']]

BOD_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   GVKEY      7000 non-null   int64
 1   YEAR       7000 non-null   int64
 2   CUSIP      7000 non-null   object
 3   TICKER     7000 non-null   object
 4   SIC        7000 non-null   int64
 5   ANNDIRRET  4530 non-null   float64
 6   DIRMTGFEE  4530 non-null   float64
 7   DIROPT     2278 non-null   float64
 8   DIROPTAD   4530 non-null   float64
 9   DIRSTK     4530 non-null   float64
 10  DIRSTKAD   4530 non-null   float64
 11  PDIRPENSN  7000 non-null   int64
 12  OIBD       4938 non-null   float64
 13  PRETAX     5207 non-null   float64
 14  NIBEX      5207 non-null   float64
 15  MKTVAL     5212 non-null   float64
dtypes: float64(10), int64(4), object(2)
memory usage: 875.1+ KB

In [3]:
ceo_df = ceo_df.drop(['CFOANN', 'PENSION_CHG', 'TOTAL_SEC', 'CHG_CTRL_PYMT', 'TOTAL_SEC_PCT', 'REPRICE', 'PCFO', 'EXECRANK'], axis=1)
ceo_df = ceo_df[ceo_df['CEOANN'].notnull()]
BOTH_df = ceo_df.merge(BOD_df, on = 'TICKER', how = 'left')

In [14]:
BOTH_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59752 entries, 0 to 59751
Data columns (total 50 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EXECDIR         59752 non-null  int64
 1   CO_PER_ROL      59752 non-null  int64
 2   CONAME          59752 non-null  object
 3   CEOANN          59752 non-null  object
 4   SALARY          59752 non-null  float64
 5   BONUS           59752 non-null  float64
 6   TOTAL_CURR      59752 non-null  float64
 7   AGE             55482 non-null  float64
 8   EXECRANKANN     59640 non-null  float64
 9   TDC1            59276 non-null  float64
 10  ALLOTHTOT       59752 non-null  float64
 11  ALLOTHPD        59752 non-null  float64
 12  SAL_PCT         56700 non-null  float64
 13  TOTAL_CURR_PCT  56686 non-null  float64
 14  TDC1_PCT        55566 non-null  float64
 15  COMMENT         5530 non-null   object
 16  GVKEY_x         59752 non-null  int64
 17  EXECID          59752 non-null  int64
 18  YEAR_x          59752 non-null  int64
 19  BECAMECEO       58660 non-null  object
 20  JOINED_CO       37408 non-null  object
 21  REJOIN          742 non-null    object
 22  LEFTOFC         54530 non-null  object
 23  LEFTCO          24514 non-null  object
 24  RELEFT          392 non-null    object
 25  PCEO            3080 non-null   object
 26  TITLE           59752 non-null  object
 27  REASON          24920 non-null  object
 28  EXEC_LNAME      59752 non-null  object
 29  EXEC_FNAME      59752 non-null  object
 30  GENDER          59752 non-null  object
 31  PAGE            59598 non-null  float64
 32  CUSIP_x         59752 non-null  object
 33  TICKER          59752 non-null  object
 34  NAICS           59752 non-null  int64
 35  GVKEY_y         59752 non-null  int64
 36  YEAR_y          59752 non-null  int64
 37  CUSIP_y         59752 non-null  object
 38  SIC             59752 non-null  int64
 39  ANNDIRRET       55087 non-null  float64
 40  DIRMTGFEE       55087 non-null  float64
 41  DIROPT          26514 non-null  float64
 42  DIROPTAD        55087 non-null  float64
 43  DIRSTK          55087 non-null  float64
 44  DIRSTKAD        55087 non-null  float64
 45  PDIRPENSN       59752 non-null  int64
 46  OIBD            56161 non-null  float64
 47  PRETAX          57219 non-null  float64
 48  NIBEX           57219 non-null  float64
 49  MKTVAL          57252 non-null  float64
dtypes: float64(22), int64(10), object(18)
memory usage: 23.2+ MB

In [4]:
# # profile report for training data Note: only need to run once
# profile = ProfileReport(bod_df, 
#                         title='Profiling Report',
#                         html={'style':{'full_width':True}})

In [5]:
# profile.to_file("./data_description/BOD_training.html")

In [6]:
# # profile report for training data Note: only need to run once
# profile = ProfileReport(ceo_df, 
#                         title='Profiling Report',
#                         html={'style':{'full_width':True}})

In [7]:
# profile.to_file("./data_description/CEO_training.html")

In [8]:
ceo_df.head()

,EXECDIR,CO_PER_ROL,CONAME,CEOANN,SALARY,BONUS,TOTAL_CURR,AGE,EXECRANKANN,TDC1,...,PCEO,TITLE,REASON,EXEC_LNAME,EXEC_FNAME,GENDER,PAGE,CUSIP,TICKER,NAICS
0,1,1,AMERICAN AIRLINES GROUP INC,CEO,600.0,0.00,600.00,NaN,1.0,1013.471,...,NaN,"chmn., pres. & CEO",RETIRED,Crandall,Robert,MALE,87.0,02376R10,AAL,481111
5,1,1,AMERICAN AIRLINES GROUP INC,CEO,600.0,0.00,600.00,58.0,1.0,1003.974,...,NaN,"chmn., pres. & CEO",RETIRED,Crandall,Robert,MALE,87.0,02376R10,AAL,481111
11,1,1,AMERICAN AIRLINES GROUP INC,CEO,600.0,395.00,995.00,59.0,1.0,1410.361,...,NaN,"chmn., pres. & CEO",RETIRED,Crandall,Robert,MALE,87.0,02376R10,AAL,481111
17,1,1,AMERICAN AIRLINES GROUP INC,CEO,662.5,678.40,1340.90,60.0,1.0,4741.184,...,NaN,"chmn., pres. & CEO",RETIRED,Crandall,Robert,MALE,87.0,02376R10,AAL,481111
23,1,1,AMERICAN AIRLINES GROUP INC,CEO,750.0,851.25,1601.25,61.0,1.0,5894.280,...,NaN,"chmn., pres. & CEO",RETIRED,Crandall,Robert,MALE,87.0,02376R10,AAL,481111

In [11]:
test_df.dropna(axis=1, how='all', inplace=True)
test_df
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28953 entries, 0 to 28952
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EXECDIR     28953 non-null  int64
 1   CO_PER_ROL  28953 non-null  int64
 2   TOTAL_CURR  28953 non-null  float64
 3   AGE         10245 non-null  float64
 4   TDC1        24152 non-null  float64
 5   TDC2        28953 non-null  float64
 6   GVKEY       28953 non-null  int64
 7   YEAR        28953 non-null  int64
 8   TICKER      28953 non-null  object
dtypes: float64(4), int64(4), object(1)
memory usage: 2.0+ MB

In [12]:
grouped_df = test_df.groupby('TICKER')['TOTAL_CURR'].sum().reset_index()

merged_df = pd.merge(test_df, grouped_df, on='TICKER', how='left')

merged_df = merged_df.rename(columns={'TOTAL_CURR_y': 'SUM_DIRCOMP'})

In [13]:
merged_df['EXECDIR'].value_counts()

0    19666
1     9287
Name: EXECDIR, dtype: int64